body {
  font-size: 20px;
}
h1 {
  font-size: xx-large;
}
h2 {
  
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 900px) {
  body {
    background-color: lightgrey;
    margin: 10px;
  }
  
  h1 {
    font-size: xxx-large;
  }
  
  h2 {
    font-size: xx-large;
    align-self: flex-start;
    width: 100%;
  }

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  figure {
    width: 45%;
  }
}

@media screen and (min-width: 1300px) {
  body {
    width: 80%;
    background-color: grey;
    margin: 10px 10%;
    font-size: 25px;
  }
  
  h1 {
    font-size: xxx-large;
  }
  
  h2 {
    font-size: xx-large;
    align-self: flex-start;
    width: 100%;
  }

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  figure {
    width: 30%;
  }
}
