div:hover {
    border: solid black;
}

.primaria {
    color: red;
}

.secundaria {
    color: orange;
}

.complementar {
    color: green;
}

.escura {
    color: darkred;
}

.clara {
    color: rgb(250, 100, 100);
}